@charset "utf-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* common */
* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.wrap {
    background-color: #fff;
    width: 500px;
    height: 240px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 200px auto;
    text-align: center;
    padding: 30px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.wrap .main-title {
    display: inline-block;
    width: 138px;
    height: 40px;
}

.wrap .text-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 28px 0 32px;
}

.wrap .btn-title {
    display: block;
    background-color: #2f80ed;
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    width: 440px;
    height: 60px;
    padding: 17px 0 15px;
    color: #fff;
}