@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

.screen-read-only {
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

#app {
    font-family: GmarketSansMedium;
    background-color: #5b2386;
    color: white;
    text-align: center;
    padding-bottom: 70px;
}

.title-law {
    display: inline-block;
    position: relative;
    margin-top: 194px;
}

.title-law::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 225px;
    height: 225px;
    margin: -112px 0 0 -112px;
    background-image: url(../img/clock.png);
    background-size: contain;
}

.title-law .img-title {
    position: relative;
    width: 564px;
    height: 112px;
    z-index: 10;
}

.img-text {
    max-width: 486px;
    margin: 125px auto 78px;
}

.text-description {
    position: relative;
    line-height: 24px;
    font-size: 18px;
    width: 475px;
    margin: 0 auto 102px;
}

.text-description .text-impact {
    font-size: 24px;
    font-weight: bold;
}

.text-description::before,
.text-description::after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 37px;
    height: 32px;
    margin-top: -16px;
}

.text-description::before {
    background-image: url(../img/text-left.png);
    left: 0;
}

.text-description::after {
    background-image: url(../img/text-right.png);
    right: 0;
}

.content-input,
.content-result {
    font-size: 24px;
    line-height: 24px;
}

.content-input .text-wannabe {
    margin-bottom: 27px;
}

.content-input .text-time {
    margin-bottom: 115px;
}

.content-input p input {
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    margin: 0 17px;
}

.content-input .btn-excute,
.content-result .btn-go,
.content-result .btn-share {
    margin-bottom: 147px;
    padding: 21px 49px;
    font-family: GmarketSansBold;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #5B2386;
    background-color: #FCEE21;
    border: none;
    border-radius: 56px;
    cursor: pointer;
}

.content-input .btn-excute {
    position: relative;
}

.content-input .btn-excute::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../img/click.png);
    background-size: contain;
    width: 64px;
    height: 72px;
    right: -70px;
    bottom: -21px;
}

.content-result .text-wannabe strong,
.content-result .text-time strong {
    font-family: GmarketSansBold;
    font-size: 72px;
    line-height: 72px;
    vertical-align: middle;
}

.content-result .text-wannabe {
    margin-bottom: 17px;
}

.content-result .text-time {
    margin-bottom: 127px;
}

.content-result .btn-share {
    background-color: #fff;
    margin-left: 18px;
}

/* footer */

.container-footer {
    font-family: Noto Sans KR;
    font-size: 12px;
    line-height: 17px;
}

.container-footer .img-footer {
    width: 125px;
    height: 25px;
    margin: 0 auto 20px;
}