.box {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all .3s;
    &:hover {
        background-color: hotpink;
    }
}

// 해당하는 태그를 & 기호 사용할 수 있다. 가상 클래스, 가상 요소를 간단하게 표현가능