.info {
    $line-normal: 1.34 !global; // 전역으로 but 안씀...
    font-size: 15px;
    line-height: $line-normal;
    text-align: right;
    span {
        line-height: $line-normal;
    }
}

div {
    color: red;
    line-height: $line-normal;
}

// 지역 변수와 전역 변수의 차이