@mixin font-module($size, $weight, $height, $color:black) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin border-module($pixel, $color, $radios) {
    border: $pixel solid $color;
    border-radius: $radios;
}

* {
    box-sizing: border-box;
}

button {
    @include font-module(14px, normal, 16px);
    border: none;
    background-color: #fff;
    text-align: left;
}

.cont-select {
    margin: 50px;
    .btn-select {
        @include border-module(1px, #C4C4C4, 10px);
        position: relative;
        width: 200px;
        margin-bottom: 8px;
        padding: 13px 0 13px 14px;
        &::after {
            position: absolute;
            top: 17px;
            right: 13px;
            display: block;
            content: "";
            width: 12px;
            height: 8px;
            background-image: url(../images/open.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.on::after{
            background-image: url(../images/close.png);
        }
    }
    .list-member {
        @include border-module(1px, #C4C4C4, 10px);
        display: none;
        width: 200px;
        &.on {
            display: block;
        }
        button {
            @include font-module(14px, normal, 16px);
            display: block;
            border-radius: 8px;
            width: 184px;
            margin: 5px 8px;
            padding: 7px 0 7px 10px;
            &:hover {
                background-color: #F8E4FF;
            }
        }
    }
} 