/*  commont */
* {
    box-sizing: border-box;
}

img {
    width: 30px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#app {
    background: #EAE8FE;
}

.tit-app {
    text-align: center;
    margin-bottom: 43px;
}

.tit-app img {
    width: 436px;
    height: 204px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vending-machine,
.my-info {
    width: 360px;
    height: 545px;
    background-color: #fff;
    margin: 18px;
}

/* vending-mahcine */
.vending-machine .list-item {
    padding: 31px 27px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.list-item li {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    margin-bottom: 12px;
}

.list-item li .img-item {
    display: block;
    width: 36px;
    height: 65px;
    margin: 11px 29px 0px;
}

.list-item li .tit-item {
    display: block;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    margin: 7px 0;
}

.list-item li .txt-item {
    display: block;
    width: 70px;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    color: #fff;
    border-radius: 50px;
    background: #6327FE;
    padding: 5px 15px;
    margin: 0 auto;
}

/* cont common */
.vending-machine [class^="cont"] [class^="btn"] {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    width: 94px;
    height: 33px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cont-return,
.cont-put,
.cont-get {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 27px;
    margin-bottom: 11px;
}
/* cont-return */


.cont-return .info-balance {
    background: #EAE8FE;
    width: 200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    padding: 6px 10px;
}

.info-balance .txt-balance {
    float: right;
}

.cont-return .btn-return {
    background-color: #fff;
    color: #000;
}

/* cont-put */
.cont-put .inp-put {
    width: 200px;
    /* flex: 2; */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 6px 10px;
}

/* cont-get */
.cont-get .list-item-staged {
    background: #EAE8FE;
    width: 200px;
    height: 106px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 12px 18px 0 12px;
    overflow: auto;
}

.list-item-staged .item-staged {
    background-color: #fff;
    height: 46px;
    border-radius: 5px;
    padding: 0 8px 0 10px;
}

.list-item-staged li + li {
    margin-top: 6px;
}

.item-staged .img-item {
    float: left;
    width: 18px;
    height: 33px;
    margin-top: 6px;
}

.item-staged .txt-item {
    font-weight: 500;
    font-size: 9px;
    line-height: 44px;
    margin-left: 10px;
}

.item-staged .num-counter {
    float: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    vertical-align: 0px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 4px 11px 6px;
    margin-top: 8px;
}

.vending-machine .cont-get .btn-get {
    height: 106px;
    background: #6327FE;
    color: #fff;
}


/* my-info */
.my-info {
    position: relative;
    padding: 0 27px;
}

.my-info::after {
    display: block;
    position: absolute;
    top: 47px;
    left: 0;
    content: "";
    width: 100vw;
    height: 32px;
    background-color: #eae8fe;
}

.cont-mymoney .info-mymoney {
    background: #EAE8FE;
    border-radius: 5px;
    margin: 9px 0;
    padding: 6px 10px;
}

.cont-mymoney .info-mymoney .txt-mymoney {
    float: right;
}

.cont-myitems .cont-title {
    display: block;
    margin: 65px 100px 13px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.cont-myitems .list-item-staged {
    background-color: #eae8fe;
    width: 306px;
    height: 364px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    overflow: auto;
    padding: 12px 18px 12px 12px;
}

.cont-myitems .txt-total {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    float: right;
    margin-top: 6px;
}

/* sold out */
.sold-out {
    position: relative;
}
.sold-out::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
}
.sold-out::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 4px;
    background-image: url(../img/Sold-out.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 65px;
}
